<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- LOGGER -->
    <logger name="io.netty" level="INFO" />

    <!-- APPENDER -->
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned by default the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="aiAppender"
              class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
        <instrumentationKey>${APPSETTING_APPLICATION_INSTRUMENTATION_KEY}</instrumentationKey>
    </appender>


    <!-- APPENDER-REF -->
    <root level="debug">
        <appender-ref ref="aiAppender"/>
    </root>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
