<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- LOGGER -->
    <logger name="io.netty" level="INFO"/>

    <!-- APPENDER -->
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned by default the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="DATADOG" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <remoteHost>intake.logs.datadoghq.com</remoteHost>
        <port>10514</port>
        <keepAliveDuration>20 seconds</keepAliveDuration>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <prefix class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>e1955dbfaa3968af1196748decfe0275 %mdc{keyThatDoesNotExist}</pattern>
                </layout>
            </prefix>
        </encoder>
    </appender>

    <!-- APPENDER-REF -->
    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DATADOG"/>
    </root>

</configuration>
