<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>

		<property name="hibernate.connection.pool.size">20</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.jdbc.batch_size">20</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- C3P0 -->
		<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idleConnectionTestPeriod">30</property>
		<property name="hibernate.c3p0.timeout">30</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.min_size">6</property>
		<property name="hibernate.c3p0.preferredTestQuery">SELECT 1</property>
		<property name="hibernate.c3p0.validate">true</property>

		<!-- EHCache -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

		<!-- SEARCH -->
		<property name="hibernate.search.default.directory_provider">filesystem</property>
		<property name="hibernate.search.default.indexBase">/var/lucene/indexes/5</property>

		<mapping class="com.ossez.edtestbank.common.models.QIndex"/>
		<mapping class="com.ossez.edtestbank.common.models.QTitle"/>
		<mapping class="com.ossez.edtestbank.common.models.QDescription"/>
		<mapping class="com.ossez.edtestbank.common.models.CacheTestBankImport"/>
		<event type="delete">
			<listener class="com.ossez.edtestbank.common.dao.DeleteEventListener" />
		</event>
	</session-factory>
</hibernate-configuration>
